.userContainer{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    padding:15px 15px;
  }


.visibilityIcon{
  cursor: pointer;

}
.userInfo{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.user{
  flex: 5;
  text-align: left;
  padding-left: 50px;
  font-weight: 300;

  .name{
    font-weight: bold;
  }
}
.viewUser{
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visible{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 20px 0px;
}
.visibleName{
  padding-left: 20px;
  font-weight: bold;
}
.visibleAdditional{
  display: flex;
  flex-direction: column;
  text-align: left;
}