.userInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    padding:15px 15px;
  }

.visibilityIcon{
  cursor: pointer;

}